src/main/mule/implementation.raml.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="implementation.ramlFlow" doc:id="f3da5cc3-1115-4537-b9d4-e9d1b9701eee" >
		<http:request method="POST" doc:name="Request" doc:id="1bcb16e5-068a-437c-ba75-f0a8b36738f5" config-ref="HTTP_Request_configuration" path="${secure::http_request.path}" outputMimeType='application/json' sendBodyMode="AUTO" requestStreamingMode="NEVER" responseTimeout="60000">
			<reconnect />
			<http:headers ><![CDATA[#[output application/java
---
{
	"Content-type" : "multipart/form-data; boundary=3453563653"
}]]]></http:headers>
		</http:request>
		<ee:transform doc:name="Transform Response  Message" doc:id="377f0f4f-dc05-4957-9602-268ed22fbaec" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	text: payload.ParsedResults[0].ParsedText
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="000ba51b-9d93-4509-b132-c29851654c42" >
				<logger level="INFO" message="Error: #[error.description], Payload: #[payload]" />			</on-error-propagate>
		</error-handler>
	</flow>
</mule>
